:root {
  --button-bg-color: #171717;
  --border-radius: 0.375em;
  --blob-width: 32rem;
  --blob-height: 16rem;

  --main-content-width: 24rem;
  --main-content-height: 14rem;
  --profile-picture-face-color: #f8a86d;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--button-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

  
.custom-body{
    flex-direction: column;
}

#katatoniata-info{
    width: 60%;
    color:rgb(81, 21, 134)

}

#band-picture {
    width:50%;
    height: 50%;
}

p{
    color:aquamarine;
}

#album{
    width: 300px;
    height: 250px;
}

#main-content {
    color: white;
    width: var(--main-content-width);
    height: var(--main-content-height);

    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;

    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: repeat(6, 1fr);
}

#main-content::before {
    content: "";
    position: absolute;

    width: var(--blob-width);
    height: var(--blob-height);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background: radial-gradient(
        ellipse at center,
        rgba(100, 100, 100, 0.8),
        rgba(100, 100, 100, 0.6),
        rgba(100, 100, 100, 0.4));
    filter: blur(70px);

    z-index: -1;
}

#main-content::after {
    opacity: 0;
    content: "";
    position: absolute;

    width:var(--blob-width);
    height:var(--blob-height);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background: radial-gradient(
        ellipse at center,
        rgba(248, 168, 111, 0.8),
        rgba(248, 168, 111, 0.6),
        rgba(248, 168, 111, 0.4));
    filter: blur(70px);

    z-index: -1;

    transition: opacity 0.5s ease;
}

#main-content:hover::after {
    opacity: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#profile-img {
    grid-column: span 4;
    grid-row: span 5;
    position: relative;
    border: 1px solid black;
    border-radius: var(--border-radius) 0 0 0;

    overflow: hidden;

    animation: popOut 0.4s ease;
}

img {
    width: 100%;
    height: 100%;
    filter: grayscale();
    transition: filter 0.5s ease, transform 0.5s ease;
}

img:hover {
    filter: grayscale(0%);
    transform: scale(1.025);
}

#name {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(25, 25, 25, 0.6);
    border-radius: 50px;
    border: 1px solid black;
    padding: 0.4em;
    transition: all 0.4s ease;
}

#profile-img:hover #name {
    top: 85%;
    color: var(--profile-picture-face-color);
}

#navigation {
    grid-column: span 1;
    grid-row: span 6;
    display: grid;
    text-align: center;
    align-items: center;
}

#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#navigation li {
    opacity: 0;

    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Orbitron, sans-serif;
    font-size: 1.25em;
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--button-bg-color);
}

#navigation li:first-child {
    border-radius: 0 var(--border-radius) 0 0;

    animation: fadeInRight 0.4s ease forwards;
    animation-delay: 0.2s;
}

#navigation li:nth-child(2) {
    animation: fadeInRight 0.4s ease forwards;
    animation-delay: 0.25s;
}

#navigation li:last-child {
    animation: fadeInRight 0.4s ease forwards;
    animation-delay: 0.3s;

    border-radius: 0 0 var(--border-radius) 0;
}

#navigation li:hover {
    color: var(--profile-picture-face-color);
}

#navigation a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
}

#social-media {
    align-items: center;
    display: flex;
    grid-column: span 4;
    grid-row: span 1;
    justify-content: space-evenly;
}

.social-media-btn {
    opacity: 0;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25em;

    background-color: var(--button-bg-color);
    border: 1px solid black;

    cursor: pointer;
}

.social-media-btn:hover {
    color: var(--profile-picture-face-color);
}

#social-media .social-media-btn:first-child {
    border-radius: 0 0 0 var(--border-radius);

    animation: fadeInDown 0.4s ease forwards;
    animation-delay: 0.2s;
}

#social-media .social-media-btn:nth-child(2) {
    animation: fadeInDown 0.4s ease forwards;
    animation-delay: 0.25s;
}

#social-media .social-media-btn:nth-child(3) {
    animation: fadeInDown 0.4s ease forwards;
    animation-delay: 0.3s;
}

#social-media .social-media-btn:last-child {
    animation: fadeInDown 0.4s ease forwards;
    animation-delay: 0.35s;
}

@media(max-width: 480px)
{
    #main-content {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(12, 1fr);

        width: var(--main-content-height);
        height: var(--main-content-width);
    }

    #main-content::before {
        width: var(--blob-height);
        height: var(--blob-width);
    }

    #main-content::after {
        width: var(--blob-height);
        height: var(--blob-width);
    }

    #profile-img {
        grid-row-start: 1;
        grid-row-end: 5;
    }

    #social-media {
        grid-row-start: 5;
        grid-row-end: 5;
    }

    #navigation {
        grid-row-start: 6;
        grid-row-end: 12;
        grid-column: span 4;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popOut {
    0% {
        transform: scale(0.25);
        opacity: 0;
    }

    80% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
